<div class="container">
<div class="card">
  <div class="card-image">
    <figure class="image">
       <img src="https://via.placeholder.com/100" alt="Movie one" srcset="https://via.placeholder.com/100 1x, https://via.placeholder.com/200 2x, https://via.placeholder.com/300 3x" sizes="100px" loading="lazy" >
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://via.placeholder.com/100" alt="Movie two" srcset="https://via.placeholder.com/100 1x, https://via.placeholder.com/200 2x, https://via.placeholder.com/300 3x" sizes="100px" loading="lazy" >
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Media library helps organize and locate all of your movies, no matter where they are!</p>
        <p class="subtitle is-6"></p>
      </div>
    </div>

    <div class="content">
    </div>
  </div>
</div>
</div>